// @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap');

$font:"Noto Serif TC";
$font_backup:"Noto Sans TC";
$gray_800:#1F1F1F;
$gray_600:#434343;
$gray_400:#8C8C8C;
$gray_200:#D9D9D9;
$gray_50:#F0F0F0;

$other_light: #EEEBE6;

$main_600:#8F755A;
$main_800:#634A34;
$main_400:#B69C7C;
$main_200:#D9CCBB;
$main_50:#EBE3DA;

$secondary_800:#093B4F;
$secondary_600:#15959C;
$secondary_400:#1CBAC3;
$secondary_200:#8EDEE2;
$secondary_50:#D8FDFF;

$success_800:#275A43;
$success_600:#4B8761;
$success_400:#6DAA7C;
$success_200:#A3D3AC;
$success_50:#DCEFE0;



%h1{
font-family: $font, $font_backup;
font-size: 48px;
font-weight: bold;
line-height: 140%;
letter-spacing: 5%;
}

%h2{
    font-family: $font, $font_backup;
    font-size: 32px;
    font-weight: bold;
    line-height: 140%;
    letter-spacing: 5%;
}

// 3-6用於細節標題或子項目，
// 保持簡潔且不會搶走主要視覺焦點。
%h3{
    font-family: $font, $font_backup;
    font-size: 28px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 10%;
}
%h4{
    font-family: $font, $font_backup;
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 10%;
}
%h5{
    font-family: $font, $font_backup;
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 10%;
}
%h6{
    font-family: $font, $font_backup;
    font-size: 18px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 10%;
}
// for content
%body{
    font-family: $font_backup;
    font-size: 16px;
    font-weight:400;
    line-height: 150%;
    letter-spacing: 2%;  
}
%body2{
    font-family: $font_backup;
    font-size: 14px;
    font-weight:400;
    line-height: 150%;
    letter-spacing: 2%;  
}
// for 備註
%tiny{
    font-family: $font_backup;
    font-size: 12px;
    font-weight:400;
    line-height: 150%;
    letter-spacing: 2%;  
}

// lg,md for desktop, tablet
%btn_lg{
    font-family: $font_backup;
    font-size: 16px;
    font-weight:500;
    line-height: 125%;
    letter-spacing: 5%;  
}
%btn_md{
    font-family: $font_backup;
    font-size: 14px;
    font-weight:500;
    line-height: 125%;
    letter-spacing: 3%;  
}
// for mobile
%btn_sm{
    font-family: $font_backup;
    font-size: 12px;
    font-weight:500;
    line-height: 125%;
    letter-spacing: 3%; 
}