.trip_section {

    svg {
        position: absolute;
        opacity: 0;
        top: 14px;
    }

    a {
        @extend %btn_lg;
        text-align: center;
        line-height: 56px;
        background-color: $main_400;
        height: 60px;
        text-decoration: none;
        letter-spacing: 4px;
        color: $gray_800;
        position: relative;
        border-radius: 50px;

        &:hover {
            svg {
                animation: fadeIn 1.5s;
                opacity: 1;
                left: 240px;
            }
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            padding-left: 0;
            left: 224px;

        }

        to {
            opacity: 1;
            left: 240px;
        }
    }
}