@import 'public.scss';

// @import 'reset.scss';
.order_hero {
    background-image: url('/src/assets/images/train_exterior/train_exterior_8.png');
}

.order {
    width: 1024px;
    margin: 28px auto;

    h3 {
        margin: 28px 0;
        @extend %h3;

        span {
            padding-left: 12px;
        }
    }

    h5 {
        border-bottom: 2px solid $gray_800;
        margin: 28px 0;
        @extend %h5;
    }

}

.order_info{
    border-radius: 25px;
    background-color: rgba(255,255,255,.8);
    padding: 24px;
}

.order_info_section {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap:100px;

    p {
        width: 350px;
        display: flex;
        padding: 12px 0;
        justify-content: space-between;
        @extend %body;

    }

    div:last-of-type {
        height: 200px;

        a{  
            text-align: center;
            display: block;
            width: 150px;
            height: 50px;
            background-color: rgba(255,255,255,.8);
            text-decoration: none;
            color:$gray_800;
            line-height: 50px;
            border-radius: 35px;
            @extend %btn_lg;
            &:hover{
                border: 1px solid $gray_800;
            }
        }


    }


}