@import 'public.scss';

// @import 'reset.scss';
.reservation_hero {
    background-image: url('/src/assets/images/train_interior/train_interior_01.png');

}

.reservation {

    select,
    input {
        border: none;
        border-bottom: 1px solid $gray_800;
        @extend %body;
    }

    h6 {
        @extend %h6;
        border-bottom: 1px solid $gray_800;
        margin: 0 auto 24px auto;
    }

    label {
        @extend %body;
    }
}


// 上方訂單需求
.form_apply,
.form_seat {
    display: flex;
    width: 1024px;
    margin: 28px auto;

}

.form_apply {
    justify-content: space-around;

    div {
        display: flex;
        flex-direction: column;
        // gap: 8px;
        margin: 12px auto;
        justify-content: end;
        width: 18%;
    }
}

.form_seat {
    margin: auto;


    .seat_title {
        width: 20%;
        display: flex;
        flex-direction: column;
        margin: 0 12px 12px 12px;
        // justify-content: start;
        // align-items: flex-start;
        gap: 24px;

        div:nth-of-type(1),
        div:nth-of-type(2) {
            display: flex;
            flex-direction: column;
            gap: 12px;

        }
    }

    object {
        margin: auto;
        width: 100%;
        height: 384px;
    }

    p {
        text-align: center;
        margin: auto;
        @extend %body2;
        writing-mode: horizontal-tb;

    }

    .seat_img {
        margin: auto 24px;
        width: 100%;
        text-align: center;
    }
}

// 訂單內容
.order_list {
    width: 1024px;
    margin: 28px auto;
    display: flex;
    align-items: stretch;

}



// 左側訂單內容
.trip_detail {
    margin: 0 24px;

    div {
        width: 600px;
    }


    div {
        &:first-of-type {
            img {
                width: 420px;
                height: 275px;
                margin-bottom: 24px;
            }

            p {
                @extend %body;
            }

            div {
                display: flex;

                p {
                    margin: auto;
                }
            }

        }

        &:last-of-type {
            select {
                height: 28px;
            }



            div {
                margin: 12px 0;

                div {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    img {
                        width: 200px;
                        height: 144px;
                    }
                }
            }
        }
    }

}

// 右側訂單明細
.order_detail {
    margin: auto;
    border-radius: 25px;
    overflow: hidden;
    p {
        width: 350px;
        display: flex;
        padding: 22px 12px;
        justify-content: space-between;
        background-color: rgba(255,255,255,.8);
        @extend %body;
    }

}

// 訂位人資料
.user_info {
    width: 1024px;
    margin: 0 auto 24px auto;

    input {
        margin: 20px auto;
    }

    button {
        @extend %btn_lg;
        padding: 12px 120px;
        letter-spacing: 4px;
        float: right;
        border-radius: 25px;
        border: 1px solid $gray_600;
        background-color: rgba(255,255,255,.8);

        &::after {
            content: "";
            display: block;
            clear: both;
        }

        &:hover {
            border: 2px solid $gray_600;
            cursor: pointer;
        }
    }

    span {
        @extend %body2;
        color: $danger_400;
        margin-left: 12px;
        visibility: hidden;
        // &::after{
        //     content: "請輸入正確！";
        // }
    }

    span.active {
        visibility: visible;
        /* 當有錯誤時顯示 */
    }
}