@import 'public.scss';

.top {
    text-align: center;
    border: 2px solid $main_400;
    background-color: $main_400;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    padding: 4px;
    position: fixed;
    right: 40px;
    bottom: 40px;

    text-decoration: none;
    color: $main_800;
    @extend %btn_md;

}