@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap");
.trip_title > div:first-of-type p > span {
  font-family: "Noto Serif TC", "Noto Sans TC";
  font-size: 28px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 10%;
}

.view_info > div:first-of-type h3,
.jp_dessert_info > div:first-of-type h3, .trip_title > div:first-of-type p {
  font-family: "Noto Serif TC", "Noto Sans TC";
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 10%;
}

.itinerary nav ul li button {
  font-family: "Noto Serif TC", "Noto Sans TC";
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 10%;
}

.jp_dessert_info .dessert_section h5, .view_info .view_info_content > div:first-of-type h5,
.jp_dessert_info .view_info_content > div:first-of-type h5 {
  font-family: "Noto Serif TC", "Noto Sans TC";
  font-size: 18px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 10%;
}

.jp_dessert_info .dessert_section span, .view_info .view_info_content > div:first-of-type p,
.jp_dessert_info .view_info_content > div:first-of-type p, .trip_title div:last-of-type p {
  font-family: "Noto Sans TC";
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 2%;
}

.trip_title div:last-of-type a {
  font-family: "Noto Sans TC";
  font-size: 16px;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: 5%;
}

.tripInfo_hero {
  background-image: url("/src/assets/images/train_exterior/tripInfo_hero02.png");
}

main {
  margin: 28px auto;
}

.itinerary {
  margin: 28px auto;
  border-bottom: 2px solid #1F1F1F;
}
.itinerary nav ul {
  text-align: center;
}
.itinerary nav ul li {
  display: inline-block;
}
.itinerary nav ul li:nth-of-type(even) {
  margin-right: 28px;
}
.itinerary nav ul li:last-of-type {
  margin-right: 0px;
}
.itinerary nav ul li button {
  display: block;
  text-decoration: none;
  color: #D8FDFF;
  background-color: #093B4F;
  border: 1px solid #1F1F1F;
  border-bottom: none;
  border-radius: 15px 15px 0 0;
  padding: 16px;
  cursor: pointer;
}
.itinerary nav ul li button:hover {
  background-color: #15959C;
}

.trip_title {
  width: 1024px;
  margin: 52px auto;
  display: flex;
}
.trip_title > div:first-of-type p > span {
  background-color: #D9D9D9;
  padding: 12px;
  margin-right: 144px;
}
.trip_title > div:first-of-type p {
  margin-bottom: 24px;
}
.trip_title > div:first-of-type img {
  width: 550px;
  height: 350px;
  border: 1px solid #1F1F1F;
}
.trip_title div:last-of-type {
  margin-top: 56px;
  padding: 0 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.trip_title div:last-of-type a {
  text-align: center;
  text-decoration: none;
  background-color: #093B4F;
  height: 56px;
  color: #D8FDFF;
  line-height: 56px;
  letter-spacing: 4px;
  border: 1px solid #1F1F1F;
}
.trip_title div:last-of-type a:hover {
  background-color: #15959C;
}

.view_info,
.jp_dessert_info {
  width: 1024px;
  margin: auto;
}
.view_info > div:first-of-type,
.jp_dessert_info > div:first-of-type {
  background-color: #D9D9D9;
  height: 56px;
}
.view_info > div:first-of-type h3,
.jp_dessert_info > div:first-of-type h3 {
  line-height: 32px;
  padding: 12px;
}
.view_info .view_info_content,
.jp_dessert_info .view_info_content {
  width: 1024px;
  display: flex;
  margin: auto;
  gap: 28px;
}
.view_info .view_info_content > div:first-of-type,
.jp_dessert_info .view_info_content > div:first-of-type {
  width: 50%;
}
.view_info .view_info_content > div:first-of-type h5,
.jp_dessert_info .view_info_content > div:first-of-type h5 {
  width: 450px;
  margin: 28px 12px 28px 0;
  border-bottom: 2px solid #1F1F1F;
}
.view_info .view_info_content > div:first-of-type p,
.jp_dessert_info .view_info_content > div:first-of-type p {
  width: 450px;
  margin-bottom: 28px;
}
.view_info .view_info_content > div:first-of-type img,
.jp_dessert_info .view_info_content > div:first-of-type img {
  width: 450px;
  height: 393px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #1F1F1F;
}
.view_info .view_info_content > div:last-of-type,
.jp_dessert_info .view_info_content > div:last-of-type {
  width: 50%;
}
.view_info .view_info_content > div:last-of-type img,
.jp_dessert_info .view_info_content > div:last-of-type img {
  margin: 28px auto;
  width: 450px;
  height: 320px;
  border: 1px solid #1F1F1F;
}
.view_info .view_info_content > div:last-of-type img:first-of-type,
.jp_dessert_info .view_info_content > div:last-of-type img:first-of-type {
  position: relative;
}
.view_info .view_info_content > div:last-of-type img:last-of-type,
.jp_dessert_info .view_info_content > div:last-of-type img:last-of-type {
  margin-top: -100px;
  margin-left: 56px;
  z-index: 0;
}

.jp_dessert_info {
  margin: 28px auto;
}
.jp_dessert_info > div {
  display: flex;
}
.jp_dessert_info .dessert_section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}
.jp_dessert_info .dessert_section h5 {
  border-bottom: 2px solid #1F1F1F;
  padding-top: 28px;
}
.jp_dessert_info .dessert_section img {
  width: 100%;
  height: 450px;
  border: 1px solid #1F1F1F;
}
.jp_dessert_info .dessert_section:last-of-type {
  padding-left: 28px;
}

.fade, main {
  animation-name: fade;
  animation-duration: 4s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=tripInfo.css.map */