.main>#card {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 18rem;
    height: 24rem;
    background-color: rgba(255,245,245, 0.4);
    border-radius: 0 1rem 0 1rem;
    padding: 3rem;
    box-shadow: 0 0 2px rgba(255,245,245, 0.8);
    backdrop-filter: blur(8px);
}

.main>#card>div>div {
    text-align: center;
}

#mainbody {
    padding:0 0 1rem 0;
}

body, html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; 
    /* 防止滾動條出現 */
}

.main{
    z-index:1;
}

.fullscreen-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/train_exterior/tripInfo_GrassSm01.png'); /* 替換為你的背景圖片URL */
    background-size: cover; /* 使圖片填滿 */
    background-position: center; /* 置中 */
    z-index: -1; 
    filter: blur(4px);
    opacity: 0.6;
}

input {
    background: transparent;
    font-weight: bold;
}
input::placeholder {
    font-weight: normal;
    background: transparent;
    color: rgba(0, 0, 0, 0.3);
}

input[type="radio"] {
    appearance: none;
  
    border-radius: 50%;
    width: 16px;
    height: 16px;
  
    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;
  
    position: relative;
    top: 4px;
  }
  
  input[type="radio"]:checked {
    border: 6px solid black;
  }