.main>div {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 18rem;
    height: 24rem;
    background-color: #F4F4F4;
    border-radius: 0 1rem 0 1rem;
    padding: 2.5rem;
}

.main>div>div {
    text-align: center;
    margin: 0 0 2.5rem 0;
}