#main>div {
    overflow-y: auto;
}

#main>div>div {
    margin: auto;
    width: 18rem;
    height: auto;
    background-color: rgba(255,245,245, 0.4);
    border-radius: 0 1rem 0 1rem;
    padding: 3rem;
    /* box-shadow: 0 0 2px rgba(255,245,245, 0.8); */
    backdrop-filter: blur(8px);
}

#main>div>div>div {
    /* text-align: center; */
    margin: 0 0 1rem 0;
}

.full-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/train_exterior/tripInfo_SeaLg01.png'); 
    background-size: cover; /* 使圖片填滿 */
    background-position: center; /* 置中 */
    z-index: -1; 
    filter: blur(4px);
    opacity: 0.6;
}