body>div {
    width: 85rem;
}

.contactTitle {
    text-align: center;
}

.contactMainbody {
    /* display: flex; */
    justify-content: center;
    margin: auto;
}

nav ul {
    display: inline-flex;
    list-style-type: none;
    padding: 0 2.5rem 0 2.5rem;
}

body>div>div {
    display: inline-block;
    vertical-align: top;
    width: 85rem;
    height: auto;
    background-color: #F4F4F4;
    border-radius: 0 1rem 0 1rem;
    padding: 2.5rem;
    margin: 1.25rem;
}

body>div>div>div {
    /* text-align: center; */
    margin: 0 0 2.5rem 0;
}

p {
    text-align: center;
}

img {
    width: 80px;
    height: 80px;
}